.containerMyBox {
  display: flex;
  padding: 5px 20px;
  box-shadow: 0 7px 6px -6px black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.containerMyBox .col1 {
  margin-right: auto;
}

.editButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.badge {
  position: absolute;
  color: white;
  width: 17px;
  border-radius: 50%;
  height: 17px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -10px;
}

.skeltonMyHeader {
  position: absolute;
  padding: 5px 20px;
  box-shadow: 0 7px 6px -6px black;
  width: 100%;
  top: 0;
}

.imgHeader {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: 200%;
}
