body {
  background: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.formContainer {
  background: white;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerModal .ant-modal-close-x {
  display: none !important;
}

.registerModal .ant-modal-body {
  display: flex !important;
}

.btn span {
  font-weight: 600;
  color: white;
}

.ant-drawer-body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ant-drawer-body {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.ant-drawer-content {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.ant-drawer-content::-webkit-scrollbar {
  display: none !important;
}

.ant-drawer-header {
  position: sticky !important;
  top: 0 !important;
}

.ant-drawer-wrapper-body {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.ant-drawer-wrapper-body::-webkit-scrollbar {
  display: none !important;
}

.addfriend .ant-modal-content {
  max-width: 400px !important;
}

.centerForm {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

